@import "variables";

.signin-wrapper {
  height: 100vh;
}

.signin-content {
  margin: 50px;
}


.signin-container {
    width: 90%;
    margin: auto;
    background-color: $orange;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    left: 50%;

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-width : 480px) {
      width: 60%;
    }

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-width : 768px) {
      width: 50%;
    }

    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 992px) {
      width: 525px;
    }

}

/** Override Firebase Auth UI style **/
.firebaseui-idp-list>.firebaseui-list-item {
  margin: auto !important;
  border: 0 !important;
}
