@import "variables";

.msg {
  padding: 10px;
  margin: 10px 0 10px 0;
  transition: all 150ms linear;

  &.msg--success {
    background-color: $msgGreen;
    color: $white;
  }

  &.msg--error {
    background-color: $msgRed;
    color: $white;
  }
}
