@import "variables";

.msg {
  padding: 10px;
  margin: 10px 0 10px 0;
  transition: all 150ms linear;

  &.msg--success {
    background-color: $msgGreen;
    color: $white;
  }

  &.msg--error {
    background-color: $msgRed;
    color: $white;
  }
}

.msg-input-error-container {
  text-align: right;
}

.msg-input-error {
  font-size: 12px;
  color: $orange;
}

.msg-input-error--inverted {
  color: $white;
}
