@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import "variables";

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  background: $bg-grey;
  margin: 0;
}

h1 {
  color: $white;
  font-size: 48px;
  margin: 20px 0 20px 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}


h2 {
  color: $black;
  font-size: 28px;
  margin: 0 0 20px 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

p {
  margin: 5px 0 5px 0;
}


.content-container {
  width: 70%;
  margin: auto;
}

a {
  color: $orange;
  text-decoration: none;
}

a:hover {
  color: $orange;
  text-decoration: underline;
}


.title {
  color: $black;
  margin: 40px 0px 20px 0px;
}



.title-container {
  border-bottom: solid 1px $orange;
}

.title--marginlr {
  margin: 40px 20px 0 20px;
}


.back-to-library {
  margin: 30px 0 30px 0;
}


ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  padding: 10px;
  cursor: pointer;
  border-top: solid 2px $bg-grey;
}

li.active {
  border-top: solid 2px $orange;
  background-color: $white;
}

.note {
  font-size: 12px;
  color: $light-grey;
  padding-top: 20px;
  margin: 0;
}

.menu-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item-container--icon {
  display: flex;
  align-items: center;
}

.menu-item {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.menu-icon {
  width: 20px;
  height: auto;
  display: inline-block;
}



/** FORM **/

.form-container {
  padding: 10px;
  background-color: $white;
}

.form-row-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px 0;

  label {
    line-height: 1.8;
    margin-right: 10px;
    padding: 6px 0 6px 0;
  }
}

.submit-container {
  text-align: right;

  button {
    margin: 10px 0 0 0;
    width: 100px;
  }
}
