@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import "variables";

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  background: $bg-grey;
}

h1 {
  color: $white;
  font-size: 48px;
  margin: 20px 0 20px 0;
}


h2 {
  color: $black;
  font-size: 28px;
  margin: 0 0 20px 0;
}


.content-container {
  width: 70%;
  margin: auto;
}

a {
  color: $orange;
}

a:hover {
  color: $orange;
}


.title {
  color: $black;
  margin: 40px 0px 20px 0px;
  padding-bottom: 20px;
  border-bottom: solid 1px $orange;
}

.title--marginlr {
  margin: 40px 20px 20px 20px;
}
