@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import "variables";

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  background: $bg-grey;
}

h1 {
  color: $white;
  font-size: 48px;
  margin: 20px 0 20px 0;
}


h2 {
  color: $black;
  font-size: 28px;
  margin: 0 0 20px 0;
}


.content-container {
  width: 70%;
  margin: auto;
}

a {
  color: $orange;
}

a:hover {
  color: $orange;
}


.title {
  color: $black;
  margin: 40px 0px 20px 0px;
}



.title-container {
  border-bottom: solid 1px $orange;
}

.title--marginlr {
  margin: 40px 20px 20px 20px;
}


.back-to-library {
  padding: 30px 0 30px 0;
}


nav {
  display: flex;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  padding: 10px;
  cursor: pointer;
  border-top: solid 2px $bg-grey;
}

li.active {
  border-top: solid 2px $orange;
  background-color: $white;
}

.input-error {
  font-size: 12px;
  color: $orange;
}
