@import "variables";

.card-container {
  margin: 20px;
  width: 150px;
}

.card-wrapper {
  text-align: center;
  border-bottom: solid 1px $bg-grey;
}

.card-wrapper:hover {
  border-bottom: solid 1px $orange;
}

.card-image {
  height: 150px;
  background-position: top;
  background-size: cover;
}

.card-details {
  margin: 10px 0 10px 0;
}
.card-link {
  color: $black;
  text-decoration: none;
}

.card-link:hover {
  color: $orange;
  text-decoration: none;
}
