@import 'variables';


.btn {
  overflow: hidden;

  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;

  color: $white;
  background: $orange;
  border: 0 none;

  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  font-family: inherit;
  font-size: inherit;

  &:hover {
    transition: all 150ms linear;
    opacity: .85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.btn:disabled {
  opacity: 0.5;
}
