@import "variables";

.input-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  input {
    display: inline-block; // for safari
    flex: 1;

    background: none;
    line-height: 1.8;
    border: none;
    border-bottom: solid 1px $orange;
    font-family: inherit;
    font-size: 14px;
    padding: 6px;

    &:focus {
      outline: none;
    }
  }
}
