.artist-banner-container {
  background-position: center;
  background-size: cover;
}

.artist-banner-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  height: 300px;
  position: relative;
  transition: background-color .2s linear;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.artist-banner-wrapper p {
  color: white;
  font-size: 16px;
}

.artist-banner-content-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.artist-banner-back-wrapper {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.artist-banner-back.content-container {
  display: flex;
  justify-content: space-between;
}

.artist-banner-back a {
  font-size: 16px;
}


.artist-banner-content {
  padding-bottom: 30px;
}
