@import "variables";

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.cardgrid-title {
  color: $black;
  margin: 40px 20px 20px 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px $orange;
}

.cardgrid-message {
  margin-left: 20px;
}
