.cardgrid-container {
  margin: 0px 20px 0 20px;
}

.cardgrid-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardgrid-message {
  margin-left: 20px;
}

.sort-controls-container {
  display: flex;
}
