@import "variables";

.dropdown {
  position: relative;
  cursor: pointer;

  &.open>.dropdown-menu {
    display: block;
  }

  .dropdown-toggle {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid $orange;
    line-height: 1.8;
    font-family: inherit;
    font-size: 14px;

    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 12px;
      vertical-align: middle;
      border-top: 4px dashed;
      border-top: 4px solid $orange;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    overflow-y: scroll;
    max-height: 300px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: $orange;
    }

    :first-child {
      border: none;
    }

    li {
      cursor: pointer;
      padding: 10px;

      &:hover {
        background: #ddd;
      }
    }
  }
}
